{% extends "base.html.twig" %}



{% block body %}
    <h1>Déposer une annonce</h1>

    <div class="form-group ">
    {{ form_start(formDepose) }}


        {{ form_label(formDepose.titre)}}
        {{form_widget(formDepose.titre, {'attr': {'class':'form-control'}})}}
        {{ form_errors(formDepose.titre) }}
    </div>

        <div class="form-group ">

            {{ form_label(formDepose.description)}}
            {{form_widget(formDepose.description, {'attr': {'class':'form-control'}})}}
            {{ form_errors(formDepose.description) }}
        </div>
        <div class="form-group ">

            {{ form_label(formDepose.ville)}}
            {{form_widget(formDepose.ville, {'attr': {'class':'form-control'}})}}
            {{ form_errors(formDepose.ville) }}
        </div>

        <div class="form-group ">

            {{ form_label(formDepose.cp)}}
            {{form_widget(formDepose.cp, {'attr': {'class':'form-control'}})}}
            {{ form_errors(formDepose.cp) }}

        </div>

        <div class="form-group ">

            {{ form_label(formDepose.prix)}}
            {{form_widget(formDepose.prix, {'attr': {'class':'form-control'}})}}
            {{ form_errors(formDepose.prix) }}
        </div>


        {{ form_row(formDepose.submit, {'attr': {'class':'btn btn-outline-success'}}) }}


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}



    </div>
    {{ form_end(formDepose) }}




{% endblock %}