{% extends "base.html.twig" %}


{% block body %}
<br>
 <div class="card border-info mb-12 text-center" style="max-width: 18rem;">
        <div class="card-header">Annonce n° {{ detailAnnonce.id }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ detailAnnonce.titre }}</h5>
            <p class="card-text">{{ detailAnnonce.description }}</p>
            <p class="card-text">{{ detailAnnonce.cp }} - {{ detailAnnonce.ville }}</p>
            <p class="card-text">{{ detailAnnonce.prix }} €</p>
            <p class="card-text">{{   detailAnnonce.dateCreation | date('d/m/Y') }}</p>
        </div>
    </div>




{% endblock %}
