{% extends "base.html.twig" %}


{% block body %}
<br>



 <div class="card border-info mb-12 text-center mx-auto" style="max-width: 23rem;">
     <div class="card-header">Annonce n° {{ detailAnnonce.id }} par {{ detailAnnonce.user.pseudo }}</div>
     <div class="card-header"><h5>{{ detailAnnonce.categorie.getLibelle() }}</h5></div>
     <div class="card-body">

            <h5 class="card-title">{{ detailAnnonce.titre }}</h5>
            <p class="card-text">{{ detailAnnonce.description }}</p>
            <p class="card-text"><img src="{{ asset('uploads/images/'~ detailAnnonce.filename) }}"></p>
            <p class="card-text">{{ detailAnnonce.cp }} - {{ detailAnnonce.ville }}</p>
            <p class="card-text">{{ detailAnnonce.prix }} €
            </p>
            <p class="card-text">{{ detailAnnonce.dateCreation | date('d/m/Y') }}</p>

            {% if detailAnnonce.user.email != idUser.email %}
            <p><a href="#" class="btn btn-primary">Réserver</a></p>
            {% endif %}
            {% if detailAnnonce.user.email != idUser.email  %}
            <p><a href="{{ path('ajoutFavori') }}?id={{ detailAnnonce.id  }}" class="btn {{ (detailAnnonce in app.user.ads)?"btn-danger ":"btn-primary"  }}"> {{ (detailAnnonce in app.user.ads)?"Retirer des ":"Ajouter aux "  }}favoris</a></p>
            {% endif %}
        </div>
     <div id="map-container-google-2" class="z-depth-1-half map-container mx-auto map-responsive" style="height: 175px">
         <iframe src="https://maps.google.com/maps?q={{ detailAnnonce.ville }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                 style="border:0" allowfullscreen></iframe>
     </div>
    </div>

{% endblock %}
