{% extends "base.html.twig" %}



{% block body %}
    <h1>Rechercher une annonce</h1>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégorie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('recherche') }}">Toutes</a>
                    {% for Categorie in tableauCate %}
                    <a class="dropdown-item" href="{{ path('recherche') }}?cate={{ Categorie.id  }}">{{ Categorie.libelle  }}</a>
                    {% endfor %}
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br>



    <table class="table">
        <thead>

    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Publié</th>
    </tr>
        </thead>

    {% for Ad in tableauAnnonce %}

        <tr>
            <td><a href="{{ path('detail') }}?id={{ Ad.id  }}"> {{ Ad.titre }} </a></td>
            <td>{{ Ad.description }}</td>
            <td>{{ Ad.ville }}</td>
            <td>{{ Ad.cp }}</td>
            <td>{{ Ad.prix }} €</td>
            <td>{{ Ad.categorie.getLibelle() }}</td>
            <td>{{   Ad.dateCreation | date('d/m/Y') }} à {{   Ad.dateCreation | date('H:i:s', "Europe/Paris") }}</td>
        </tr>



    {% endfor %}
    </table>




{% endblock %}