{% extends "base.html.twig" %}



{% block body %}
    <h1>Rechercher une annonce</h1>

    {% for Ad in tableauAnnonce %}
        <a href="{{ path('detail') }}?id={{ Ad.id  }}"> {{ Ad.titre }} - {{ Ad.prix }}  €  - {{ Ad.description }} - {{   Ad.dateCreation | date('d/m/Y') }}</a> <br>
    {% endfor %}




{% endblock %}