{% extends "base.html.twig" %}



{% block body %}
    <h1>Rechercher une annonce</h1>
    <br>
    <table class="table">
        <thead>
    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Publié</th>
    </tr>
        </thead>

    {% for Ad in tableauAnnonce %}

        <tr>
            <td><a href="{{ path('detail') }}?id={{ Ad.id  }}"> {{ Ad.titre }} </a></td>
            <td>{{ Ad.description }}</td>
            <td>{{ Ad.ville }}</td>
            <td>{{ Ad.cp }}</td>
            <td>{{ Ad.prix }} €</td>
            <td>{{ Ad.categorie.getLibelle() }}</td>
            <td>{{   Ad.dateCreation | date('d/m/Y') }} à {{   Ad.dateCreation | date('H:i:s', "Europe/Paris") }}</td>
        </tr>



    {% endfor %}
    </table>




{% endblock %}